body {
  background: #99DDC8;
   color: #556F44;
}
h2 {
  color: #283F3B;
   text-decoration: underline 2.5px;
  letter-spacing: 1px;
  font-size: 30px;
}
#tree1 {
  translate: 243px -75px;
}
#tree2 {
  translate: -245px -75px;
}
